.input_section{
    display: flex;
    min-height: 360px;
    padding: var(--slide, 0px) 64px;
    
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;

    
}

.prompt_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 45%;
}
.input_box{
    height: 320px;
    width: 100%;
}
.result_box{
    display: flex;
    height: 320px;
    max-width: 45%;
padding: 8px 20px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid $on-surface-variant-light;
}
.result_txt{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;

}
.result_summary{
    width: 100%;
}
.result_sound{
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}
.result_label{
    display: flex;
padding: 4px 16px;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.summary_features{
    display: flex;
justify-content:left;
align-self: stretch;
}



.output{
    min-height: 320px;
    border: 1px solid $on-primary-container-light;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 12px 4px 16px;

}
.result_label{
    color: $primary-light;
    border-radius: 16px;
    padding: 10px 24px;
    @include label-large;
}
.result_txt{
    color: $on-surface-light;
    @include body-large;
}