
.nav{
    padding: 20px 72px;
    background: $primary-light;
    position: fixed;
    width: 100%;
    z-index: 2;
}


.menu-item{
    @include body-medium;
    border: 1px solid $secondary-light;
    color: $on-surface-light;
    border-radius: 16px;
    padding: 10px 24px;
    
}













