.btn{
    border-radius: 16px;
    display: inline-flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    @include label-large;
}
.btn-filled {
    background:$primary-light;
    color: $on-primary-light
}
.btn-outlined {
    border: 1px solid $outline-light;
    color: $primary-light;
}
.tonal{
    background: $secondary-container-light;
    color: $on-secondary-container-light;
    text-align: center;
}
.text{
    color: $primary-light;
}

