// .btn{
//     border-radius: 16px;
//     display: inline-flex;
//     padding: 10px 24px;
//     justify-content: center;
//     align-items: center;
//     gap: 8px;
//     flex-shrink: 0;
// }
// .btn-filled {
//     background:$primary-light;
//     color: $on-primary-light
// }
// .btn-outlined {
//     border: 1px solid $outline-light;
//     color: $primary-light;
// }

.btn-dark{
    background-color: red;
}
.btn-blue{
    background-color: blue;
}
.XL{
    padding: 24px;
}
.L{
    padding: 12px;
}