.feature{
    display: inline-flex;
    align-items: center;
    gap: 10px;
   }
.feature-img{
    width: 720px;
    height: 720px;
    background:lightgray 50% / cover no-repeat;
}
.content{
    display: flex;
    width: 720px;
    height: 720px;
padding: 16px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
gap: 4px;
position: absolute;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
background-blend-mode: multiply;
}
.feature-title{
    color: #FFFFFF;
text-align: right;
@include  headline-small ;
}
.feature-content{
    color: #FFF;

text-align: right;
@include body-large;
}