@tailwind base;
@tailwind components;
@tailwind utilities;
$primary-light : #1C1D2E;
$on-primary-light : #FFFFFF;
$secondary-light : #E38970;
$on-secondary-light : #FFFFFF;
$tertiary-light : #E8D0B0;
$on-tertiary-light : #FFFFFF;
$surface-light : #EDEDEF;
$on-surface-light : #2C2B30;
$outline-light : #4C4D5B;
$error-light : #E24940;
$on-error-light : #FFFFFF;

$primary-container-light : #BABABF;
$on-primary-container-light : #0D0D15;
$secondary-container-light : #FDDFD6;
$on-secondary-container-light : #693F34;
$tertiary-container-light : #FFF7EC;
$on-tertiary-container-light : #6B6051;
$error-container-light : #FDC9C6;
$on-error-container-light : #68221D;

$on-surface-variant-light : #363741;
$outline-variant-light : #ADADB4;


$primary-12opacity-light : rgba(28, 29, 46, 0.12);
$on-primary-12opacity-light : rgba(255, 255, 255, 0.12);
$secondary-12opacity-light : rgba(227, 137, 112, 0.12);
$on-secondary-12opacity-light :rgba(255, 255, 255, 0.12);
$tertiary-12opacity-light : rgb(232, 208, 176, 0.12);
$on-tertiary-12opacity-light : rgba(255, 255, 255, 0.12);
$surface-12opacity-light : rgba(237, 237, 239, 0.12);
$on-surface-12opacity-light : rgba(44, 43, 48, 0.12);
$outline-12opacity-light : rgba(76, 77, 91, 0.12);
$error-12opacity-light : rgba(226, 73, 64, 0.12);
$on-error-12opacity-light :rgba(255, 255, 255, 0.12);

$primary-container-12opacity-light : rgba(186, 186, 191, 0.12);
$on-primary-container-12opacity-light : rgba(13, 13, 21, 0.12);
$secondary-container-12opacity-light : rgba(253, 223, 214, 0.12);
$on-secondary-container-12opacity-light : rgba(105, 63, 52, 0.12);
$tertiary-container-12opacity-light : rgba(255, 247, 236, 0.12);
$on-tertiary-container-12opacity-light : rgba(107, 96, 81, 0.12);
$error-container-12opacity-light : rgba(253, 201, 198, 0.12);
$on-error-container-12opacity-light : rgba(104, 34, 29, 0.12);

$on-surface-variant-12opacity-light : rgba(54, 55, 65, 0.12);
$outline-variant-12opacity-light : rgba(173, 173, 180, 0.12);

$primary-08opacity-light : rgba(28, 29, 46, 0.08);
$on-primary-08opacity-light : rgba(255, 255, 255, 0.08);
$secondary-08opacity-light : rgba(227, 137, 112, 0.08);
$on-secondary-08opacity-light :rgba(255, 255, 255, 0.08);
$tertiary-08opacity-light : rgb(232, 208, 176, 0.08);
$on-tertiary-08opacity-light : rgba(255, 255, 255, 0.08);
$surface-08opacity-light : rgba(237, 237, 239, 0.08);
$on-surface-08opacity-light : rgba(44, 43, 48, 0.08);
$outline-08opacity-light : rgba(76, 77, 91, 0.08);
$error-08opacity-light : rgba(226, 73, 64, 0.08);
$on-error-08opacity-light :rgba(255, 255, 255, 0.08);

$primary-container-08opacity-light : rgba(186, 186, 191, 0.08);
$on-primary-container-08opacity-light : rgba(13, 13, 21, 0.08);
$secondary-container-08opacity-light : rgba(253, 223, 214, 0.08);
$on-secondary-container-08opacity-light : rgba(105, 63, 52, 0.08);
$tertiary-container-08opacity-light : rgba(255, 247, 236, 0.08);
$on-tertiary-container-08opacity-light : rgba(107, 96, 81, 0.08);
$error-container-08opacity-light : rgba(253, 201, 198, 0.08);
$on-error-container-08opacity-light : rgba(104, 34, 29, 0.08);

$on-surface-variant-08opacity-light : rgba(54, 55, 65, 0.08);
$outline-variant-08opacity-light : rgba(173, 173, 180, 0.08);

$on-primary-dark: #11121C;
$secondary-dark: #FCCFC2;
$on-surface-variant-dark: #ADADB4;
$on-surface-dark: #C8C8CC;
$tertiary-dark: #FFF3E2;
$primary-dark: #AFB0C9;
$secondary-container-dark: #B16B57;
$on-secondary-container-dark: #FDDFD6;
$on-tertiary-container-dark: #FFF7EC;

 :root {
background-color: $surface-light;

//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// a {

//   text-decoration: inherit;
// }
// a:hover {
//   color: #535bf2;
 }

* {
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
}


// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
// button:hover {
//   border-color: #646cff;
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }




@mixin display-large {
  font-family: Roboto;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
  font-weight: normal;
}
@mixin display-medium {
  font-family: Roboto;
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin display-small {
  font-family: Roboto;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin headline-large {
  font-family: Roboto;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.25px;
  font-weight: normal;
}
@mixin headline-medium {
  font-family: Roboto;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin headline-small {
  font-family: Roboto;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin title-large {
  font-family: Roboto;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin title-medium {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-weight:400;
}
@mixin title-small {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 400;
}
@mixin body-large {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: normal;
}
@mixin body-medium {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-weight: normal;
}
@mixin body-small {
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin label-large {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 400;
}
@mixin label-medium {
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
@mixin label-small {
  font-family: Roboto;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

@import "./Style/Atoms/logo.scss";
@import "./Style/Components/button.scss";
@import "./Style/Templates/navbar.scss";
@import "./Style/Atoms/icon.scss";
@import "./Style/Templates/footer.scss";
@import "./Style/Components/feature.scss";
@import "./Style/Components/pagination_line.scss";
@import "./Style/Components/input.scss";
@import "./Style/Components/textarea.scss";
@import "./Style/Templates/input_section.scss";
@import "./Style/Components/menu_item.scss";
@import "./Style/Pages/home.scss";
@import "./Style/Pages/login.scss";
@import "./Style/Pages/signup.scss";
@import "./Style/Templates/authenticate_section.scss";